/* General Styles */
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
            background-size: 400% 400%;
            animation: rainbow 10s infinite linear;
            
            text-align: center;
        }
 .skills-container {
            text-align: center;
        }
        .skills-list {
            list-style: none;
            padding: 0;
        }
        .skills-list li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
            font-size: 18px;
            font-weight: bold;
        }
        .skills-list img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
@keyframes rainbow {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
}

.profile {
    text-align: center;
    padding: 40px;
    background-color: rgba(0, 102, 255, 0.3);
    border-radius: 10px;
    margin-top: 20px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
}

.profile h1 {
    font-size: 2rem;
    margin: 10px 0;
}

section {
    margin: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 2rem;
}

.project {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 10px 15px;
}

/* Footer */
footer {
            width: 100%;
            text-align: center;
            padding: 15px;
            background-color: #f8f8f8;
            position: absolute;
            bottom: 0;
        }
        footer a {
            text-decoration: none;
            font-size: 18px;
            margin: 10px;
            font-weight: bold;
            color: #333;
            display: inline-flex;
            align-items: center;
        }
        .footer-links img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }

}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
    }

    .toggle-btn {
        right: 20px;
    }

    .profile {
        padding: 20px;
    }

    .profile h1 {
        font-size: 1.5rem;
    }

    section h2 {
        font-size: 1.5rem;
    }
}
